<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helpline Data</title>
</head>
<body> -->
    {% extends 'base.html' %}

    {% block content %}
        <h1 color="blue">{% block title %} Welcome to Notifications & advisories {% endblock %}</h1>    
    <table class="table" align="center" border="1">
        <tbody>
            <th>Date and Notification Title</th>
            <th>Link</th>
        {% for dict_item in tod %}
           <tr>
                {% for key, value in dict_item.items() %}
                    <!-- <h1>Key: {{key}}</h1> -->
                    <td>{{value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- </body>
</html> -->
{% endblock %}